<ul class="container">
  <li routerLinkActive="active">
    <a routerLink = "/cadastrar">Cadastrar</a>
  </li >
  <li routerLinkActive="active">
    <a routerLink = "/marcarentrevista">Marcar entrevista</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink = "/desqualificar">Desqualificar</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink = "/verificarstatus">Verificar Status</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink = "/aprovar">Aprovar</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink = "/aprovados">Aprovados</a>
  </li>
</ul>
